body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

div {
    margin-bottom: 20px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

div#resultado1, div#resultado2, div#resultado3, div#resultado5 {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul#lista {
    list-style-type: none;
    padding: 0;
}

ul#lista li {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul#lista li button {
    background-color: #dc3545;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
}

ul#lista li button:hover {
    background-color: #c82333;
}
